<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/favoriteList.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logo">Dream boarding house</div>
        <nav>
          <ul class="nav-bar">
            <li class="nav-item">
              <a href="" class="nav-link">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">ĐĂNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">QUẢN LÝ THÔNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">DANH SÁCH YÊU THÍCH</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">THÔNG BÁO</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="favorite-list">
        <h3>Danh sách phòng yêu thích của bạn</h3>
        <div class="list-room">
            <div class="room">
              <div class="image-room">
                <img src="https://images.cenhomes.vn/2020/03/1585033149-can-ho-mau-charmington-iris.jpg" alt="">
              </div>
              <h3 class="type">Căn hộ</h3>
              <div class="acreage">40m2</div>
              <div class="address">k24/01. Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
              <div class="description">Căn hộ rộng rãi, thoáng mát</div>
            </div>
            <div class="room">
              <div class="image-room">
                <img src="https://images.cenhomes.vn/2020/03/1585033153-can-ho-mau-florence.jpg" alt="">
              </div>
              <h3 class="type">Căn hộ</h3>
              <div class="acreage">40m2</div>
              <div class="address">19 Hùng Vương. Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
              <div class="description">Căn hộ rộng rãi, thoáng mát</div>
            </div>
          </div>
      </div>
      <footer>
        <div>Copyright @C2SE.14</div>
      </footer>
    </div>
  </body>
</html>
