<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h3 class="logo">Dream boarding house</h3>
        <nav>
          <ul class="nav-bar">
            <li class="nav-item">
              <a href="" class="nav-link">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
              <a href="/room/upload" class="nav-link">ĐĂNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">QUẢN LÝ THÔNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="/favoriteList/rooms" class="nav-link">DANH SÁCH YÊU THÍCH</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">THÔNG BÁO</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="banner">
        <img src="https://gotrangtri.vn/wp-content/uploads/2021/04/thiet-ke-noi-that-chung-cu-bia.jpg.webp" alt="căn hộ" class="img-banner">
      </div>
      <div class="list-room">
        <div class="room">
          <div class="image-room">
            <img src="https://images.cenhomes.vn/2020/03/1585033148-can-ho-mau-an-land-complex.jpg" alt="">
          </div>
          <h3 class="type">Căn hộ</h3>
          <div class="acreage">40m2</div>
          <div class="address">18 Ông Ích Đường. Khuê Trung, Cẩm Lệ, Đà Nẵng</div>
          <div class="description">Căn hộ rộng rãi, thoáng mát</div>
          <button class="btn-like">Yêu thích</button>
        </div>
        <div class="room">
          <div class="image-room">
            <img src="https://images.cenhomes.vn/2020/03/1585033148-can-ho-mau-an-land-complex.jpg" alt="">
          </div>
          <h3 class="type">Căn hộ</h3>
          <div class="acreage">40m2</div>
          <div class="address">k402/35. Lê Duẩn, Thanh Khê, Đà Nẵng</div>
          <div class="description">Căn hộ rộng rãi, thoáng mát</div>
        </div>
        <div class="room">
          <div class="image-room">
            <img src="https://images.cenhomes.vn/2020/03/1585033149-can-ho-mau-charmington-iris.jpg" alt="">
          </div>
          <h3 class="type">Căn hộ</h3>
          <div class="acreage">40m2</div>
          <div class="address">k24/01. Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
          <div class="description">Căn hộ rộng rãi, thoáng mát</div>
        </div>
        <div class="room">
          <div class="image-room">
            <img src="https://images.cenhomes.vn/2020/03/1585033153-can-ho-mau-florence.jpg" alt="">
          </div>
          <h3 class="type">Căn hộ</h3>
          <div class="acreage">40m2</div>
          <div class="address">19 Hùng Vương. Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
          <div class="description">Căn hộ rộng rãi, thoáng mát</div>
        </div>
      </div>
      <div class="list-room">
        <div class="room">
          <div class="image-room">
            <img src="https://behouse.vn/wp-content/uploads/2021/03/phong-tro-dep.jpg" alt="">
          </div>
          <h3 class="type">Phòng trọ</h3>
          <div class="acreage">32m2</div>
          <div class="address">02 Khuê Trung. Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
          <div class="description">Phòng trọ rộng rãi, thoáng mát</div>
        </div>
        <div class="room">
          <div class="image-room">
            <img src="https://behouse.vn/wp-content/uploads/old/phong-tro-dep-3_1615736824.jpg" alt="">
          </div>
          <h3 class="type">Phòng trọ</h3>
          <div class="acreage">25m2</div>
          <div class="address">Cách mạng tháng 8, Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
          <div class="description">Phòng trọ rộng rãi, thoáng mát</div>
        </div>
        <div class="room">
          <div class="image-room">
            <img src="https://behouse.vn/wp-content/uploads/old/phong-tro-dep-7_1615736985.jpg" alt="">
          </div>
          <h3 class="type">Phòng trọ</h3>
          <div class="acreage">40m2</div>
          <div class="address"> 56 Bạch Đằng, Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
          <div class="description">Phòng trọ rộng rãi, thoáng mát</div>
        </div>
        <div class="room">
          <div class="image-room">
            <img src="https://behouse.vn/wp-content/uploads/old/phong-tro-dep-6_1615736964.jpg" alt="">
          </div>
          <h3 class="type">Phòng trọ</h3>
          <div class="acreage">18m2</div>
          <div class="address">02 Khuê Trung. Hòa Cường Nam, Hải Châu, Đà Nẵng</div>
          <div class="description">Phòng trọ rộng rãi, thoáng mát</div>
        </div>
      </div>
      <footer>
        <div>Copyright @C2SE.14</div>
      </footer>
    </div>
  </body>
</html>
