<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logo">Dream boarding house</div>
        <nav>
          <ul class="nav-bar">
            <li class="nav-item">
              <a href="" class="nav-link">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">ĐĂNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">QUẢN LÝ THÔNG TIN</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">DANH SÁCH YÊU THÍCH</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">THÔNG BÁO</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="banner">
        <img src="https://gotrangtri.vn/wp-content/uploads/2021/04/thiet-ke-noi-that-chung-cu-bia.jpg.webp" alt="căn hộ" class="img-banner">
      </div>
      <div class="list-room">

      </div>
    </div>
  </body>
</html>
