* {
  margin: 0;
  padding: 0;
}
/*Global style*/
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-bar {
  display: flex;
}
