<h2>Posts</h2>

<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>124215346</td>
      <td>
        <a class="btn btn-primary" href="">Detail</a>
      </td>
    </tr>
  </tbody>
</table>
